textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

// for terminal
.window {
  border-radius: 3px;
  background: #1a1a1a;
  padding: 12px;
}

.terminal {
  font-family: monospace;
  font-size: 16px;
  color: #22da26;
}