/* Borders used between 2 resizable DIVs */
.border {
  position: relative;
  z-index: 1;

  &.hor {
    &.resize {
      cursor: ns-resize;
      padding: 4px 0;
    }

    > div {
      border-top: thin solid #cebbbb;
    }
  }

  &.ver {
    &.resize {
      cursor: ew-resize;
      padding: 0 4px;
    }

    > div {
      height: 100%;
      border-left: thin solid #cebbbb;
    }
  }
}

/* Border between content that need to be devided sementically */
.separator {
  border-left: thin solid #cebbbb;
  margin: 3px;
}
