.browse {
  display: flex;

  > input[type='text'] {
    min-width: 280px;
    height: 24px;
    outline: none;
    padding: 1px 5px;
    border: 1px #a2a2a2 solid;
    font-size: 14px;
  }

  > button {
    background-color: #e8e8e8;
    font-weight: bold;
    height: 28px;
    outline: none;
    user-select: none;
    margin-left: -1px;
    border: 1px #a2a2a2 solid;

    &:hover {
      background-color: #d2d2d2;
    }

    img {
      position: relative;
      top: 3px;
      width: 20px;
      height: 20px;
    }

    &::after {
      content: 'browse...';
      position: relative;
      top: -3px;
    }
  }
}
