textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.charts-container {
  height: 100vh;
  overflow: auto;

  #prime-chart,
  #side-chart,
  #side-chart2 {
    padding: 0;
    position: relative;
    width: 100%;
  }
}
