textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  overflow: hidden;
}

.charts-container {
  height: 100vh;

  #progress-chart,
  #fittest-chart {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
}