@import 'basics.scss';
@import 'scrollbar.scss';
@import 'border.scss';
@import 'components.scss';
@import 'params.scss';
@import 'browse.scss';

#main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .configuration {
    flex: 1;
    display: flex;
    height: calc(100% - 45px);
    background-color: whitesmoke;

    .title {
      margin: 0;
      font-size: 17px;

      &.pad {
        padding: 8px 0;

        &.small {
          padding: 5px 0;
        }
      }

      &.small {
        font-size: 15px;
      }
    }

    .params-man {
      width: 396px;
      min-width: 396px;
      max-width: 396px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .sign {
        display: flex;
        padding: 0 0 10px;

        .title {
          flex: 1;
          font-family: sans-serif;
        }

        .random-all-btn {
          width: fit-content;
          margin: 6px;
        }
      }
    }

    .browse-container {
      padding-bottom: 44px;

      .show-output-btn {
        width: 96px;
      }

      .get-template-btn {
        width: 96px;
      }
    }

    .border {
      cursor: default;
      padding: 0;
    }

    .params-fitness {
      padding: 10px 6px;
      flex: 1;
      font-family: sans-serif;
      overflow-x: hidden;
      overflow-y: auto;

      .genes-tree {
        max-height: 350px;

        .json-container {
          border: thin solid #999999;
          border-radius: 2px;
          max-height: 350px;
          overflow: auto;
          max-width: calc(100vw - 397px - 16px);
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px 8px;
    background-color: whitesmoke;

    .left {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      input[type='checkbox'].force-tf-enabled {
        margin: 0 5px;
      }

      label {
        font-family: sans-serif;
        font-size: 14px;
      }
    }

    .right {
      #save-btn {
        background-color: #137cff;
        color: whitesmoke;
        border: none;

        &:hover:not(:disabled),
        &.hover:not(:disabled) {
          background-color: #0037ec;
        }

        &:disabled {
          background-color: #4e9dff;
        }
      }
    }
  }
}

.type-container {
  font-family: sans-serif;
  padding: 0 10px;
  font-size: 13px;

  .type {
    flex-direction: column;
    align-items: baseline;

    .type-name {
      width: 100%;

      > p {
        margin: 0;
      }
    }
    .type-settings {
      padding: 5px;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;

      .type-value {
        align-items: baseline;
        width: 100%;
        flex-direction: column;

        > label {
          display: flex;
          align-items: center;
          padding: 5px;
          width: fit-content;

          > input {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.hide {
  display: none !important;
}

.notice-me {
  background-color: #ff9900;
}
.notice-me-transition {
  transition: background-color 0.2s ease;
}

.fade-white {
  background-color: white;
}
