.params-file,
.params-man {
  padding: 10px 6px;
}

.params-file {
  font-family: sans-serif;
}

.params-man {
  padding-right: 0;
  flex: 1;

  .complex-param {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .param {
      display: flex;
      align-items: center;
      flex: 1;

      .param-name {
        font-size: 13px;
        font-family: sans-serif;
        width: 100px;
        display: flex;
        align-items: center;

        > p {
          margin: 0;
        }
      }

      .param-settings {
        flex: 1;
        display: flex;
        justify-content: left;

        .param-value {
          width: 130px;
          display: flex;
          justify-content: center;
          align-items: center;

          input[type='text'] {
            width: 80px;
            padding: 2px 2px 1px;
            height: 19px;
            font-size: 17px;
            border: thin solid #7b7b7b;
            border-radius: 2px;
            text-align: right;
          }
        }

        .other-settings {
          display: flex;

          > * {
            margin: 6px;
          }
        }
      }
    }
  }

  input[type='checkbox'].param-enabled {
    margin: 11px;
  }

  input[type='checkbox'].param-enabled,
  input[type='checkbox'].force-tf-enabled {
    width: 14px;
    height: 14px;
  }

  input[type='checkbox'].param-enabled {
    & ~ div {
      pointer-events: none;
      opacity: 0.5;
    }

    &:checked ~ div {
      pointer-events: all;
      opacity: 1;
    }
  }
}
