.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 8px 0;
  font-size: 17px;
  font-family: sans-serif;
}

.sign .random-all-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 6px;
}

.params-file,
.params-man {
  padding: 10px 6px;
}

.params-file {
  font-family: sans-serif;
}

.params-man {
  padding-right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.params-man .complex-param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.params-man .param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.params-man .param .param-name {
  font-size: 13px;
  font-family: sans-serif;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.params-man .param .param-name > p {
  margin: 0;
}

.params-man .param .param-settings {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.params-man .param .param-settings .param-value {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.params-man .param .param-settings .param-value input[type='text'] {
  width: 80px;
  padding: 2px 2px 1px;
  height: 19px;
  font-size: 17px;
  border: 1px solid #7b7b7b;
  border-radius: 2px;
  text-align: right;
}

.params-man .param .param-settings .param-value input[type='text'].valid, .params-man .param .param-settings .param-value input[type='text'].valid:focus {
  -webkit-box-shadow: 0 0 0 1px #6cdf00, 0 0 0 4px rgba(0, 255, 0, 0.3);
          box-shadow: 0 0 0 1px #6cdf00, 0 0 0 4px rgba(0, 255, 0, 0.3);
}

.params-man .param .param-settings .param-value input[type='text'].invalid, .params-man .param .param-settings .param-value input[type='text'].invalid:focus {
  -webkit-box-shadow: 0 0 0 1px #df0000, 0 0 0 4px rgba(255, 0, 0, 0.3);
          box-shadow: 0 0 0 1px #df0000, 0 0 0 4px rgba(255, 0, 0, 0.3);
}

.params-man .param .param-settings .param-value input[type='text']:focus {
  -webkit-box-shadow: 0 0 0 1px #df9a00, 0 0 0 4px rgba(223, 165, 0, 0.3);
          box-shadow: 0 0 0 1px #df9a00, 0 0 0 4px rgba(223, 165, 0, 0.3);
}

.params-man .param .param-settings .other-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.params-man .param .param-settings .other-settings > * {
  margin: 6px;
}

.params-man input[type='checkbox'].param-enabler {
  margin: 11px;
}

.params-man input[type='checkbox'].param-enabler,
.params-man input[type='checkbox'].force-textfields {
  width: 14px;
  height: 14px;
}

.params-man input[type='checkbox'].param-enabler + div,
.params-man input[type='checkbox'].force-textfields + div {
  pointer-events: none;
  opacity: 0.5;
}

.params-man input[type='checkbox'].param-enabler:checked + div,
.params-man input[type='checkbox'].force-textfields:checked + div {
  pointer-events: all;
  opacity: 1;
}
/*# sourceMappingURL=params.css.map */