.resize-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  &.for-primary {
    height: 100%;
    width: 100%;
    min-height: 140px;
  }

  &.for-secondary {
    height: 100%;
    width: 100%;
    min-width: 140px;
  }
}
