textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.main .primary-container {
  background-color: #fff;
  height: calc(50% + 13px);
  padding: 0 4px;
}

.main .primary-container .border-container {
  border-bottom: 1px solid #a37e7e;
  height: 100%;
}

.main .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(50% - 37px);
}

.main .middle-container .controls-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50vw;
  text-align: center;
}

.main .middle-container .controls-container .state-controls-container {
  margin-top: 4px;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: calc(25% - 79px);
}

.main .middle-container .controls-container .state-controls-container button {
  padding: 5px 4px 5px 5px;
  border: none;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  background-color: white;
}

.main .middle-container .controls-container .state-controls-container button:hover:not(.disabled-btn) {
  background-color: #c4c4c4;
}

.main .middle-container .controls-container .state-controls-container button img {
  width: 18px;
  float: left;
}

.main .middle-container .controls-container .state-controls-container button.disabled-btn {
  opacity: 0.6;
}

.main .middle-container .controls-container .state-controls-container button#play-btn img {
  display: none;
}

.main .middle-container .controls-container .state-controls-container button#play-btn img.default {
  display: block;
}

.main .middle-container .controls-container .controls-background {
  height: 29px;
  margin: 4px 0;
}

.main .middle-container .controls-container .parameters-container {
  height: calc(100% - 37px);
  overflow-y: auto;
}

.main .middle-container .controls-container .parameters-container .parameters {
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.75fr 1fr 40px;
      grid-template-columns: 1.75fr 1fr 40px;
}

.main .middle-container .controls-container .parameters-container .parameters p {
  font-size: 13px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: left;
  padding-right: 5px;
  margin: 0;
  padding: 10px;
}

.main .middle-container .controls-container .parameters-container .parameters input[type='number'] {
  margin: 9px 9px 5px;
  height: 26px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
}

.main .middle-container .secondary-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4px 0;
}

.main .middle-container .secondary-container .border-container {
  border-left: 1px solid #a37e7e;
  height: 100%;
}

.main .bottom-bar-container {
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 4px;
}

.main .bottom-bar-container .border-container {
  border-top: 1px solid #a37e7e;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */