textarea,
input,
div,
button {
	outline: none !important;
	margin: 0;
}

* {
	user-select: none;
	-webkit-user-drag: none;
}

.main {
	// padding: 0;
	overflow: hidden;

	.charts-container {
		max-height: calc(100vh - 240px);

		#progress-chart-container {
			padding-left: 0;
			position: relative;
			max-height: calc(100vh - 240px);
			
		}

		#genes-charts-container {
			max-height: calc(100vh - 240px);
			padding-right: 0;

			>div {
				position: relative;
				height: 50%;
			}
		}
	}

	.controls {
		button {
			margin: 1px;
			padding: 4px 3px 4px 4px;
			border: none;
			border-radius: 5px;
			width: 30px;
			height: 30px;
			background-color: white;

			&:hover:not(.disabled-btn) {
				background-color: #c4c4c4;
			}

			img {
				width: 22px;
				float: left;
			}

			&.disabled-btn {
				opacity: .6;
			}

			&#play-btn {
				img {
					display: none;

					&.default {
						display: block;
					}
				}
			}
		}
	}
}