textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

.main {
  // padding: 0;
  overflow: hidden;
  padding: 0;

  .charts-container {
    height: 80%;

    #progress-chart {
      padding: 0;
      position: relative;
      height: 300px;
    }

    #genes-charts-container {
      // display: none;
      height: 200px;
      padding: 0;
      margin: 0;

      > div {
        position: relative;
        height: 200px;
        width: 50%;
        padding: 0;
        margin: 0;
      }
    }
  }

  .controls {
    button {
      margin: 1px;
      padding: 4px 3px 4px 4px;
      border: none;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      background-color: white;

      &:hover:not(.disabled-btn) {
        background-color: #c4c4c4;
      }

      img {
        width: 22px;
        float: left;
      }

      &.disabled-btn {
        opacity: 0.6;
      }

      &#play-btn {
        img {
          display: none;

          &.default {
            display: block;
          }
        }
      }
    }
  }
}
