textarea,
input,
div,
button {
  outline: none !important;
  margin: 0;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  overflow: hidden;
}

.main {
  overflow: hidden;
  padding: 0;
  height: 100vh;
}

.main .progress-process-background {
  background-color: #fff;
  height: calc(50% + 13px);
  border-bottom: 1px solid #a37e7e;
  margin: 0 4px;
}

.main .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(50% - 36px);
}

.main .middle-container .controls-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 4px;
  padding: 4px 0;
  height: 76px;
  width: 50vw;
  text-align: center;
}

.main .middle-container .controls-container .state-controls-container {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: calc(25% - 79px);
}

.main .middle-container .controls-container .state-controls-container button {
  padding: 5px 4px 5px 5px;
  border: none;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  background-color: white;
}

.main .middle-container .controls-container .state-controls-container button:hover:not(.disabled-btn) {
  background-color: #c4c4c4;
}

.main .middle-container .controls-container .state-controls-container button img {
  width: 18px;
  float: left;
}

.main .middle-container .controls-container .state-controls-container button.disabled-btn {
  opacity: 0.6;
}

.main .middle-container .controls-container .state-controls-container button#play-btn img {
  display: none;
}

.main .middle-container .controls-container .state-controls-container button#play-btn img.default {
  display: block;
}

.main .middle-container .controls-container .parameters-container {
  height: 100%;
}

.main .middle-container .controls-container .parameters-container .parameters {
  height: 100%;
}

.main .middle-container .controls-container .parameters-container .parameters p {
  font-size: 13px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: left;
  padding-right: 5px;
  margin: 0;
  padding: 7.2px;
}

.main .middle-container .controls-container .parameters-container .parameters input[type='number'] {
  margin-top: 4px;
  height: 26px;
  width: 80px;
}

.main .middle-container .controls-container .parameters-container .parameters section {
  height: 50%;
}

.main .middle-container .controls-container .parameters-container .parameters section label {
  height: 100%;
  margin: 0;
  width: 200px;
}

.main .middle-container .controls-container .parameters-container .parameters section label:first-child {
  float: left;
  margin-left: 4%;
}

.main .middle-container .controls-container .parameters-container .parameters section label:last-child {
  float: right;
  margin-right: 4%;
}

.main .middle-container .fittest-process-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 4px 0;
  border-left: 1px solid #a37e7e;
}

.main .bottom-bar-container {
  bottom: 0;
  height: 24px;
  margin: 0 4px;
  border-top: 1px solid #a37e7e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */